@font-face{
    font-family: 'Bahij Sultannahia';
    src: url(../fonts/bahij-sultannahia.ttf);
}

@font-face{
    font-family: 'ChornicaPro Regular';
    src: url(../fonts/ChronicaPro-Regular.ttf);
}